.card {
	display: flex;
	align-items: center;
	border-radius: var(--radius-radius-s);
	border: 1px solid var(--strokes-stroke-default);
	background: var(--interact-interact-btn-secondary);
	color: var(--text-text-primary);

	.avatar {
		background-color: var(--text-text-additional);
	}

	.name {
		margin-left: 8px;
		margin-right: 6px;
	}

	&.empty-card {
		color: var(--text-text-additional);
		background: none;
		padding: var(--paddings-size-zero) var(--paddings-size-xs);
	}
}
